body{
    background-color: grey;
}
.crven {
    width: 400px;
    height: 300px;
    position: relative;
    background-color: red;

}
.plav{
    width: 400px;
    height: 150px;
    position: absolute;
    background-color: darkblue;
    top: 80px;
}
.bijel{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 20px;
    left: 150px;
    height: 115px;
}
.plav2{
    width: 400px;
    height: 300px;
    position: relative;
    background-color: blue;
    
}
.bijel_oko{
    position: absolute;
    height: 300px;
    width: 60px;
    left: 85px;
    background-color: white;
}
.bijel_vodo{
    position: absolute;
    height: 70px;
    width: 400px;
    top: 115px;
    background-color: white;
}
.crven_oko{
    background-color: red;
    position: absolute;
    height: 300px;
    width: 30px;
    left: 100px;
}
.crven_vodo{
    background-color: red;
    position: absolute;
    height: 35px;
    width: 400px;
    top: 132px;

}
.trokut{
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 50px solid black;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
   
}
.plav3{
    width: 400px;
    height: 300px;
    position: relative;
    background-color: rgb(18, 179, 165);
    z-index: 1;
}
.kut{
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 200px solid black;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    z-index: 2;
}
.zut{
    position: absolute;
    width: 400px;
    height: 80px;
    background-color: yellow;
    top: 110px;
    z-index: 1;
}
.crven_bah{
    background-color: darkred;
    width: 400px;
    height: 300px;
    position: relative;
}
.bijel_bah{
    background-color: white;
    position: absolute;
    height: 300px;
    width: 110px;
}
.tr1{
    border-left: 70px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 110px;
    height: 0px;
    width: 0px;

}
.tr2{
    border-left: 70px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 110px;
    top: 60px;
    height: 0px;
    width: 0px;

}
.tr3{
    border-left: 70px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 110px;
    top: 120px;
    height: 0px;
    width: 0px;
 
}
.tr4{
    border-left: 70px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 110px;
    top: 180px;
    height: 0px;
    width: 0px;

}
.tr5{
    border-left: 70px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 110px;
    top: 240px;
    height: 0px;
    width: 0px;

}
.zvijezda{
    width: 200px;
    height: 200px;
    background:  gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.zel{
    width: 200px;
    height: 400px;
    background-color: #007A5E;
    position: relative;

}
.crv2{
    width: 200px;
    height: 400px;
    background-color: #CE1126;
    left: 180px;
    position: absolute;
}
.zut2{
    width: 200px;
    height: 400px;
    background-color: #FCD116;
    position: absolute;
    left: 380px;
}
.zvij2{
    width: 200px;
    height: 200px;
    background:  gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    /* transform: rotate(-20 deg) */
    position: absolute;
    top: 100px;
}
.crv3{
    background-color: red;
    width: 500px;
    height: 300px;
    position: relative;
    
}
.mjesec{
    background-color: white;
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 70px;
    left: 85px;
    z-index: 1;

}
.zvij3{
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
     clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    z-index: 3;
    transform: rotate(-20deg);
    top: 100px;
    left: 220px;
}
.rupa{
    background-color: red;
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 85px;
    left: 120px;
    z-index: 2;
}