h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}
*{
    background-color: black;
}
h2{
    color: white;
    text-align: center;
    font-size: larger;
}
.slika{
    border: 10px solid white;
    width: 600px;
    height: 600px;
    margin-left: 640px;
}