.viz{
    height: 300px;
    width: 500px;
    border: solid black 3px;
    padding: 10px;
    position: relative;
}
.slika{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.ime{
    position: absolute;
    margin-left: 200px;
}
.p1{
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
}
.p2{
    position: absolute;
    margin-top: 90px;
    margin-left: 170px;
}
.p3{
    position: absolute;
    margin-top: 130px;
    margin-left: 170px;
}
.p4{
    position: absolute;
    margin-top: 170px;
    margin-left: 170px;
}
.p5{
    position: absolute;
    margin-top: 170px;
    margin-left: 310px;
}
.insta{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 200px;
    margin-left: 160px;
}
.fb{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
}