.viz{
    height: 300px;
    width: 500px;
    border: solid black 3px;
    padding: 10px;
    position: relative;
}
.h2{
    margin-top: 200px;
}
.slika{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.ime{
    position: absolute;
    margin-left: 190px;
    font-size: 35px;
    margin-top: -2px;
}
.p1{
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
}
.p2{
    position: absolute;
    margin-top: 90px;
    margin-left: 170px;
    margin-top: 95px;
}
.p3{
    position: absolute;
    margin-top: 130px;
    margin-left: 170px;
}
.p4{
    position: absolute;
    margin-top: 170px;
    margin-left: 170px;
}
.p5{
    position: absolute;
    margin-top: 170px;
    margin-left: 310px;
}
.insta{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 200px;
    margin-left: 160px;
}
.fb{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
}
.h{
    margin-left: 550px;
    margin-top: -500px;;
}
.d1{
    height: 300px;
    width: 400px;
    background-color: #E8AD6D;
    margin-left: 550px;
    position: relative;
    z-index: 0;
}
.d2{
    position: absolute;
    background-color: #DE6B67;
    width: 290px;
    top: 100px;
    left: 55px;
    height: 100px;
    z-index: 1;
}
.d3{
    position: absolute;
    background-color: #2F5A76;
    width: 170px;
    height: 170px;
    top: 65px;
    left: 115px;
    z-index: 2;
}
.d4{
    position: absolute;
    background-color: #E8AD6D;
    width: 40px;
    height: 100px;
    top: 100px;
    left: 180px;
    z-index: 3;
}
